.fab {
  border-radius: 100%;
  bottom: 10px;
  font-size: 15px;
  padding: 25px;
  position: fixed;
  right: 25px;
}

.fab-danger {
  border-radius: 100%;
  bottom: 10px;
  font-size: 15px;
  padding: 25px;
  position: fixed;
  right: 100px;
}